<!-- meta -->
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="Bilol Tuliboev" />
<meta name="robots" content="index, follow, noodp" />
<meta name="googlebot" content="index, follow" />
<meta name="google" content="notranslate" />
<meta name="format-detection" content="telephone=no" />
<meta name="keywords" content="" />
<meta name="description" content="" />

<!-- fonts -->

<!-- CDN slick -->
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
/>

<!-- CDN fancybox -->
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"
/>

<!-- CDN boxicons -->
<link
	rel="stylesheet"
	href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
/>

<!-- css -->
<link rel="stylesheet" href="assets/css/style.css" />

<!-- title -->
<title>{{ title }}</title>
